<div>
  <h1>Readme</h1>
  <div>
    <h4>Start Project</h4>
    <p>
      Navigate to my app in terminal and start command
      <strong><i>ng serve --open</i></strong>
    </p>
    <p>
      and for starting backend navigate to back folder and start
      <strong><i>npm start</i></strong> it is configured in package.json and you
      have nodemon script included
    </p>
  </div>
  <div>
    <h5>Ivy</h5>
    <p>
      At this project I use Ivy. What is Ivy? Ivy is a very important stepping
      stone in the Angular history. It changes how the framework internally
      works, without changing how we write Angular applications. If the parallel
      makes some sense to you, it’s very similar to React and the “Fiber
      rewrite”. React Fiber was a complete rewrite of React internals, and
      notably offered a more incremental rendering. The rewrite lasted over a
      year, and opened the door to new features (for example the famous Hooks
      that were released in React 16.8 and that rely on Fiber).
    </p>
  </div>
  <div>
    <h5>Store</h5>
    <p>
      We use store. This store is motivated by Todd Motto, Google developer who
      work on creating Angular freamwork and this is made step by step without
      NgRx plugin. Usually in Angular apps we use NgRx (like in React Redux or
      Mobx) for state control and it's based on Flux pattern.
    </p>
  </div>
  <div>
    <h5>Back</h5>
    <p>
      This app is inspired by small app which you can see in folder 'back' where
      I find some plugin for searching synonyms of each word. In this plugin we
      have about 5000 words but we dont have option to add new and that is
      reason why I didn't use that for this test app.
    </p>
  </div>
  <div>
    <h5>Back</h5>
    <p>
      I start this project with scss because of power of that CSS library. We
      can use mixins and include file by file for every component.
    </p>
  </div>
  <div>
    <h5>Style</h5>
    <p>
      I start this project with scss because of power of that CSS library. We
      can use mixins and include file by file for every component.
    </p>
  </div>
  <div>
    <h5>Testing</h5>
    <p>
      As you need test in this project I write just one test and it's connected
      for main part of this project and this test just take a look is table
      exist or not.
    </p>
  </div>

  <hr>
  <div>
    <p style="font-size: 8px; font-weight: bold;">
      PS Click on title or logo back you to home page
    </p>
  </div>
</div>
